__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# IDA
*.id0
*.id1
*.id2
*.nam
*.til
*.idb
*.i64

# Logs & backups
*.log
*.bak